<% question.answer_wrappers.each do |answer| %>
  <%= f.fields_for 'answers[][]', answer do |fa| %>
    <div id="<%= dom_id answer.choice %>">
        <%= fa.hidden_field :id %>
        <%= fa.hidden_field :question_id %>
        <%= fa.hidden_field :choice_id %>
        <label class="c-input c-checkbox">
          <%= fa.check_box :content, {}, answer.choice.content, nil %>
          <span class="c-indicator"></span>
          <%= answer.choice.content %>
        </label>
    </div>
  <% end %>
<% end %>
