<% question.answer_wrappers.each do |answer| %>
  <%= f.fields_for :answer_wrappers, answer do |fa| %>
    <div id="<%= dom_id answer.choice %>">
        <%= fa.hidden_field :id %>
        <%= fa.hidden_field :question_id %>
        <%= fa.hidden_field :choice_id %>
        <label class="c-input c-radio">
          <%= fa.radio_button :content, answer.choice.content %>
          <span class="c-indicator"></span>
          <%= answer.choice.content %>
        </label>
    </div>
  <% end %>
<% end %>
