<% question.answer_wrappers.each do |answer| %>
  <%= f.fields_for :answers, answer do |fa| %>
    <div id="<%= dom_id answer.choice %>">
      <%= fa.hidden_field :id %>
      <%= fa.hidden_field :question_id %>
      <%= fa.hidden_field :choice_id %>
      <%= fa.text_field :content, class: 'form-control' %>
    </div>
  <% end %>
<% end %>
