<h1>Sign In</h1>

<%= form_for @sign_in, url: sessions_path do |f| %>
  <% f.object.errors.full_messages.each do |error| %>
    <div style="color:brown"><%= error %></div>
  <% end %>
  <%= f.text_field :email, placeholder: "Email" %>
  <%= f.password_field :password, placeholder: "Password" %>
  <%= f.submit "Sign In", class: 'btn btn-primary' %>
<% end %>
