<%= form_for @user do |f| %>
  <% f.object.errors.full_messages.each do |error| %>
    <div style="color:brown"><%= error %></div>
  <% end %>
  <%= f.text_field :email, placeholder: "Email" %>
  <%= f.password_field :password, placeholder: "Password" %>
  <%= f.submit %>
<% end %>
