<h1>
  <%= link_to "Questions", @survey %> |
  Responses
</h1>

<%= link_to "New Response", new_survey_response_path(@survey) %>

<table class="table table-sm">
  <thead>
    <tr>
      <th>#</th>
      <% @survey.questions.each do |question| %>
        <th><%= question.title %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @survey.responses.each do |response| %>
      <tr>
        <td><%= response.id %></td>
        <% @survey.questions.each do |question| %>
          <td>
            <% question.choices.each do |choice| %>
              <div>
                <% response.answers_for(question: question, choice: choice).each do |answer| %>
                  <%= answer.content %>(<%= answer.id %>)
                <% end %>
              </div>
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>


