<div class="card">
  <div class="card-block">
    <div class="form-group row">
      <div class="col-sm-10">
        <%= f.text_field :title, placeholder: "Question", class: 'form-control' %>
      </div>
      <div class="col-sm-2">
        <%= f.select :type, Question.type_options, class: 'c-select' %>
      </div>
    </div>

    <%= f.fields_for :choices do |fc| %>
      <%= render "choice_field_#{f.object.type}", fc: fc %>
    <% end %>
  </div>
  <% if f.object.persisted? %>
    <div class="card-footer" style="text-align: right">
      <%= link_to "Delete", f.object, method: 'delete', class: 'btn btn-secondary' %>
    </div>
  <% end %>
</div>
