<h1>Edit</h1>

<%= form_for @form do |f| %>
  <%= render "errors", object: f.object %>
  <div class="card">

    <div class="card-block">
      <div class="form-group">
        <%= f.text_field :title, placeholder: "Survey title", class: 'form-control' %>
      </div>
    </div>

    <%= f.fields_for :questions do |fq| %>
      <div class="card-block">
        <div class="form-group row">
          <div class="col-sm-10">
            <%= fq.text_field :title, placeholder: "Question", class: 'form-control' %>
          </div>
          <div class="col-sm-2">
            <%= fq.select :type, Question.types.keys, {}, class: 'form-control' %>
          </div>
        </div>
      </div>
    <% end %>
    <div class="card-block">
      <%= f.submit "Save", class: 'btn btn-secondary pull-xs-left' %>
      <%= f.button "Add Question", name: "add_question", class: 'btn btn-secondary pull-xs-right' %>
      <div class="clearfix"></div>
    </div>
  </div>
<% end %>
